
.ored {
    outline: 1px solid red;
}
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    outline: none;

    /* overflow-x: hidden; */
    /* outline: 1px solid red; */
    /* overflow-y: scroll; */
}

html, body {
    /* height: 100%; width: 100%; */
    /* zoom: 50%; */
}

html {
    font-size: 12pt;
}

body {
     position: relative;
}

